
<div class="w-full flex justify-between items-center mb-3 mt-1 pl-3">
  <div>
    <h3 class="text-lg font-bold text-slate-800">Manage the beneficiary certificates</h3>
    <p class="text-slate-500">Overview of the certificates.</p>
  </div>
  <div class="ml-3">
    <button class="text-slate-600 hover:text-slate-800 ml-2" (click)="goToRoute('add-certificate')">
      <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g id="Complete">
          <g id="add-square">
            <g>
              <rect data-name="--Rectangle" fill="none" height="20" id="_--Rectangle" rx="2" ry="2"
                    stroke="#000000"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" x="2" y="2"/>
              <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    x1="15.5"
                    x2="8.5" y1="12" y2="12"/>
              <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    x1="12"
                    x2="12" y1="15.5" y2="8.5"/>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </div>
</div>

<div
  class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
  <table class="w-full text-left table-auto min-w-max">
    <thead>
    <tr>
      <th class="p-4 border-b border-slate-300 bg-slate-50">
        <p class="block text-sm font-normal leading-none text-slate-500">
          Number
        </p>
      </th>
      <th class="p-4 border-b border-slate-300 bg-slate-50">
        <p class="block text-sm font-normal leading-none text-slate-500">
          Title
        </p>
      </th>
      <th class="p-4 border-b border-slate-300 bg-slate-50">
        <p class="block text-sm font-normal leading-none text-slate-500">
          Release Date
        </p>
      </th>
      <th class="p-4 border-b border-slate-300 bg-slate-50">
        <p class="block text-sm font-normal leading-none text-slate-500">
          Expiry Date
        </p>
      </th>
      <th class="p-4 border-b border-slate-300 bg-slate-50">
      </th>
    </tr>
    </thead>
    @for (certificate of certificateStore.certificatesByBeneficiary(); track certificate.id) {
      <tbody>
      <tr class="hover:bg-slate-50 border-b border-slate-200">
        <td class="p-4 py-5">
          <button (click)="certificateStore.setId(certificate.id)">
            <p class="block font-semibold text-sm text-slate-800">{{ certificate.number }}</p>
          </button>
        </td>
        <td class="p-4 py-5">
          <p class="block text-sm text-slate-800">{{ certificate.title | truncate: 75 }}</p>
        </td>
        <td class="p-4 py-5">
          <p class="block text-sm text-slate-800">{{ certificate.releaseDate }}</p>
        </td>
        <td class="p-4 py-5">
          <p class="block text-sm text-slate-800">{{ certificate.expiryDate }}</p>
        </td>
        <td class="p-4 py-5">
          <div class="block text-center">
            <button class="text-slate-600 hover:text-slate-800 ml-2" (click)="deleteCertificate(certificate.id)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Dribbble-Light-Preview" transform="translate(-179.000000, -360.000000)" fill="#000000">
                    <g id="icons" transform="translate(56.000000, 160.000000)">
                      <path
                        d="M130.35,216 L132.45,216 L132.45,208 L130.35,208 L130.35,216 Z M134.55,216 L136.65,216 L136.65,208 L134.55,208 L134.55,216 Z M128.25,218 L138.75,218 L138.75,206 L128.25,206 L128.25,218 Z M130.35,204 L136.65,204 L136.65,202 L130.35,202 L130.35,204 Z M138.75,204 L138.75,200 L128.25,200 L128.25,204 L123,204 L123,206 L126.15,206 L126.15,220 L140.85,220 L140.85,206 L144,206 L144,204 L138.75,204 Z"
                        id="delete-[#1487]">
                      </path>
                    </g>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    }
  </table>
</div>

@if(certificateStore.certificate()){
  <div class="grid grid-cols-3 gap-8 h-6" >
    <button class="col-span-1 bg-teal-100 border-2 border-teal-600 rounded-2xl text-sm hover:text-xl h-12 mt-2 lg:text-lg text-clip"
            (click)="setChoice('details')"
    >
      Details
    </button>
    <button class="col-span-1 bg-teal-100 border-2 border-teal-600 rounded-2xl text-sm hover:text-xl h-12 mt-2 lg:text-lg text-clip"
            (click)="setChoice('comments')">
      Comments
    </button>
    <button class="col-span-1 bg-teal-100 border-2 border-teal-600 rounded-2xl text-sm hover:text-xl h-12 mt-2 lg:text-lg text-clip"
            (click)="certificateStore.setId(0)">
      Back
    </button>
  </div>
}

@if(choice==='details'){
  <app-certificate-details [certificate]="certificateStore.certificate()"></app-certificate-details>

} @else if (choice === 'comments'){
  <app-comment [input]="certificateStore.certificate()"></app-comment>
}

