<div class="grid grid-cols-12 bg-gray-100 h-dvh">
  <div class="col-span-1 "></div>
  <div class="col-span-1 bg-gray-200 place-items-center">
    @if(this.userService.isLoggedIn()){

    <div class="w-11/12 bg-teal-100 border-2 border-teal-600 rounded-2xl text-sm hover:text-xl h-12 flex flex-row lg:text-lg">
      <button
        (click)="goToRoute('beneficiary')"
        class="w-full">
        Beneficiary
      </button>
    </div>
    <div class="w-11/12 bg-teal-100 border-2 border-teal-600 rounded-2xl text-sm hover:text-xl h-12 flex flex-row mt-2 lg:text-lg">
      <button
        class="w-full">
        Certificates
      </button>
    </div>
    <div class="w-11/12 bg-teal-100 border-2 border-teal-600 rounded-2xl text-sm hover:text-xl h-12 flex flex-row mt-2 lg:text-lg">
      <button
        class="w-full">
        Projects
      </button>
    </div>
    }
  </div>
  <div class="col-span-9 bg-gray-200 h-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-span-1 ">
  </div>
</div>
